In [90]:
def simple():
    print("my first function")

In [92]:
simple()

my first function

In [94]:
def plus_ten(a):
    return a + 10

In [96]:
plus_ten(4)

14

In [97]:
def plus_ten(a):
    result = a +10
    return result

In [99]:
plus_ten(2)

12

In [108]:
def add_10(m):
    if m>=100:
        m = m + 10
        return m
    else:
        return "save more"

In [104]:
add_10(110)

120

In [110]:
add_10(30)

'save more'

In [111]:
def subtract_bc(a,b,c):
    result = a-b*c
    print ("parameter a equals", a)
    print ("parameter b equals", b)
    print ("parameter c equals", c)
    return result

In [112]:
subtract_bc(10, 2, 3)

parameter a equals 10
parameter b equals 2
parameter c equals 3

4

In [113]:
participants = ["john", "leila", "gregory", "cate"]
participants

['john', 'leila', 'gregory', 'cate']

In [114]:
participants[1]

'leila'

In [115]:
del participants[2]
participants

['john', 'leila', 'cate']

In [116]:
participants.append("maria")
participants

['john', 'leila', 'cate', 'maria']

In [117]:
participants2 = ["kiki", "kim", "tonny"]
participants.extend(participants2)
participants

['john', 'leila', 'cate', 'maria', 'kiki', 'kim', 'tonny']

In [118]:
len(participants)

7

In [121]:
participants[-2:]

['kim', 'tonny']

In [122]:
newcomers = ["joshua", "britany"]
newcomers

['joshua', 'britany']

In [123]:
biggerlist = [participants, newcomers]
biggerlist

[['john', 'leila', 'cate', 'maria', 'kiki', 'kim', 'tonny'],
 ['joshua', 'britany']]

In [124]:
numbers = [1,2,3,4,5,6]

In [125]:
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6]

In [128]:
numbers.sort(reverse = True)
numbers

[6, 5, 4, 3, 2, 1]

In [132]:
dict = {
    "ki" : "cat",
    "ngondu" : "sheep",
    "mburi" : "goat"
}
dict

{'ki': 'cat', 'ngondu': 'sheep', 'mburi': 'goat'}

In [133]:
dict["ngondu"]

'sheep'

In [134]:
dict["k5"] = "parrrot"
dict

{'ki': 'cat', 'ngondu': 'sheep', 'mburi': 'goat', 'k5': 'parrrot'}

In [135]:
dict["ngondu"] = "stupid"
dict

{'ki': 'cat', 'ngondu': 'stupid', 'mburi': 'goat', 'k5': 'parrrot'}

In [138]:
even = [0,2,4,6,8,10,12,14,16,18,20]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [140]:
for n in even:
    print(n, end="")

02468101214161820

In [142]:
x = 0
while x <=20:
    print(x, end="")
    x+=1

01234567891011121314151617181920

In [143]:
range(0,21,1)

range(0, 21)

In [144]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [145]:
list(range(0,21,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [150]:
for n in range(10):
    print(2** n, end=" ")

1 2 4 8 16 32 64 128 256 512

In [154]:
for i in range(20):
    if i % 2 == 0:
        print(i, end=" ")
        
    else:
        print("odd", end=" ")

0 odd 2 odd 4 odd 6 odd 8 odd 10 odd 12 odd 14 odd 16 odd 18 odd

In [155]:
x = [0, 1, 2]
for item in x:
    print(item, end = " ")

0 1 2

In [156]:
for item in range(len(x)):
    print(x[item], end =" ")

0 1 2

In [157]:
for item in range(len(x)):
    print(x[item])

0
1
2

In [158]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total+=1
    return total

In [159]:
list_1 = [1,3,7,15,23,43,56,98,17]

In [160]:
count(list_1)

5

In [ ]:
def count(numbers):
    total = 0

In [161]:
prices = {
    "spagheti" : 4,
    "lasagna" : 5,
    "burger" : 2
}
quantity = {
    "spagheti" : 6,
    "lasagna" : 10,
    "burger" : 0
}
money_spent = 0
for i in prices:
    money_spent =money_spent + (prices[i]* quantity[i])
print(money_spent)

74

In [162]:
import math

In [163]:
math.sqrt(625)

25.0

In [165]:
from math import sqrt

In [166]:
sqrt(456565)

675.695937534036

In [167]:
from math import sqrt as s

In [168]:
s(36)

6.0

In [169]:
import math as m

In [170]:
m.sqrt(49)

7.0

In [ ]:
from math import *

In [171]:
sqrt(64)

8.0

In [172]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)